<%- include("template/header.ejs", {tituloWeb:'Wallablob-juegos_mesa'}) %>

    <div class="container">
        <div class="text-center">
            <i class="fa-solid fa-chess mt-5" id="icon_style"></i>
        </div>
        <h1 class="display-4 text-uppercase text-center mt-2 mb-5">Juegos de mesa</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="display-6">Título</th>
                        <th scope="col" class="display-6">Descripción</th>
                        <th scope="col" class="display-6">Defecto</th>
                        <th scope="col" class="display-6">Precio</th>
                        <th scope="col" class="display-6">Acción</th>


                    </tr>
                </thead>
                <tbody>
                    <% if (arrayJuegos_mesa.length> 0) { %>
                        <% arrayJuegos_mesa.forEach(juegos_mesa=> { %>
                            <tr>
                                <td class="fw-bold">
                                    <%= juegos_mesa.titulo %>
                                </td>
                                <td style="width:25%; font-size: 12px;">
                                    <%= juegos_mesa.descripcion %>
                                </td>
                                <td class="fst-italic">
                                    <%= juegos_mesa.defecto %>
                                </td>
                                <td class="fw-bold">
                                    <%= juegos_mesa.precio %> €
                                </td>
                                <td>
                                    <a class="btn btn-dark btn-sm"
                                        href="juegos_mesa/<%= juegos_mesa.id %>">Editar/Eliminar</a>
                                    <a class="btn btn-warning btn-sm"
                                        onclick="agregar_carrito('<%= juegos_mesa.id %>','<%= juegos_mesa.titulo %>','<%= juegos_mesa.descripcion %>','<%= juegos_mesa.defecto %>','<%= juegos_mesa.precio %>')">Agregar
                                        a Lista Reparación</a>
                                </td>


                            </tr>
                            <% }) %>
                                <% } %>
                </tbody>

            </table>
        </div>
        <a class="btn btn-block my-4" id="btn_style" href="/juegos_mesa/crearjuegos_mesa">Crear nuevo juego de mesa</a>
        <a class="btn btn-block my-4" id="btn_style" href="/main">Volver</a>
    </div>


    <script>

        const arrayCarrito = [];
        const btnEliminar = document.querySelector('.btn-danger')
        btnEliminar.addEventListener('click', async () => {
            console.log(btnEliminar.dataset.id)
            try {
                const data = await fetch(`/juegos_mesa/${btnEliminar.dataset.id}`, {
                    method: 'delete'
                })
                const res = await data.json()
                console.log(res)
                if (res.estado) {
                    window.location.href = '/juegos_mesa'
                } else {
                    console.log(res)
                }
            } catch (error) {
                console.log(error)
            }
        })

        function agregar_carrito(id_juegomesa, titulo_juegomesa, descripcion_juegomesa, defecto_juegomesa, precio_juegomesa) {
            var id = id_juegomesa;
            var titulo = titulo_juegomesa;
            var descripcion = descripcion_juegomesa;
            var defecto = defecto_juegomesa;
            var precio = precio_juegomesa;
            var juegomesa = { "id": id, "titulo": titulo, "descripcion": descripcion, "defecto": defecto, "precio": precio }
            arrayCarrito.push(juegomesa);
            localStorage.setItem("pedido_juegomesa", JSON.stringify(arrayCarrito));
        }
    </script>

    <%- include("template/footer.ejs") %>